@model IEnumerable<Institute_of_Fine_Arts.Models.Staff>

@{
    ViewData["Title"] = "ViewStaff";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Staff</h2>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Username)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Username)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                   
                                    <td>
                                    <td>
                                        <div class="template-demo  justify-content-between flex-nowrap">
                                            <a class="btn btn-icon" asp-action="EditStaff" asp-route-id="@item.Id">
                                                <i class="mdi mdi-pencil-box-outline" style="font-size:20px; color:green;"></i>
                                            </a>
                                            <a class="btn btn-icon" asp-action="DeleteStaff" asp-route-id="@item.Id">
                                                <i class="mdi mdi-delete-forever-outline" style="font-size:20px; color:red;"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>
